@font-face {
  font-family: "Bebas Neue";
  font-weight: 400;
  src: 
       url("../fonts/BebasNeue-Bold.woff2") format("woff2"),
       url("../fonts/BebasNeue-Regular.woff") format("woff"),
       url("../fonts/BebasNeue-Regular.otf") format("opentype"),
       url("../fonts/BebasNeue-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bebas Neue";
  font-weight: 700;
  src: 
       url("../fonts/BebasNeue-Bold.woff2") format("woff2"),
       url("../fonts/BebasNeue-Bold.woff") format("woff"),
       url("../fonts/BebasNeue-Bold.otf") format("opentype"),
       url("../fonts/BebasNeue-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: 
    url("../fonts/open-sans.woff2") format("woff2")
    url("../fonts/open-sans.woff") format("woff")
    url("../fonts/open-sans.otf") format("opentype")
    url("../fonts/open-sans.ttf") format("truetype");
}

