.slick-list {
  overflow: hidden;
}

.case__aside {
  &.slick-slider {
    max-width: 300px;
  }

  .slick-slide {
    max-width: 300px;
  }

  @media (max-width: 360px) {
    &.slick-slider {
      max-width: 260px;
    }
  
    .slick-slide {
      max-width: 260px;
    }  
  }
}

.slick-track {
  display: flex;
}

.case__content {
  &.slick-slider {
    max-width: 750px;
  }

  .slick-slide {
    max-width: 750px;
  }

  @media (max-width: 880px) {
    &.slick-slider {
      max-width: 550px;
    }
  
    .slick-slide {
      max-width: 550px;
    }      
  }

  @media (max-width: 650px) {
    &.slick-slider {
      max-width: 450px;
    }
  
    .slick-slide {
      max-width: 450px;
    }      
  }

  @media (max-width: 550px) {
    &.slick-slider {
      max-width: 350px;
    }
  
    .slick-slide {
      max-width: 350px;
    }      
  }

  @media (max-width: 440px) {
    &.slick-slider {
      max-width: 300px;
    }
  
    .slick-slide {
      max-width: 300px;
    }      
  }

  @media (max-width: 370px) {
    &.slick-slider {
      max-width: 250px;
    }
  
    .slick-slide {
      max-width: 250px;
    }      
  }
}