//- Точки для переключения секций
.dots
  a(href="#header").dot.anchor.active
  a(href="#points").dot.anchor
  a(href="#examples").dot.anchor
  a(href="#help").dot.anchor
  a(href="#how").dot.anchor
  a(href="#videos").dot.anchor
  a(href="#why-we").dot.anchor
  a(href="#questions").dot.anchor
  a(href="#quiz-start").dot.anchor