head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title Информационная безопасность

  //- Icon
  link(rel="shortcut icon" href="./images/decor.svg")

  //- Google fonts (Troubles with it, the easy way was chosen)
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap" rel="stylesheet")

  //- Jquery
  script(defer src="./js/jquery-3.6.3.min.js")

  //- Slick slider
  script(defer src="./js/slick.min.js")

  //- Scrollify.js
  script(defer src="./js/scrollify.js")

  //- Fancybox
  script(defer src="./js/fancybox.min.js")
  link(rel="stylesheet" href="./css/fancybox.min.css")
  link(rel="stylesheet" href="./css/panzoom.min.css")

  //- Quiz
  script(defer src="./js/quiz/results.js")
  script(defer src="./js/quiz/questions.js")

  //- Other
  link(rel="stylesheet" href="./css/style.css")
  script(defer src="./js/main.js")